svg {
    background-color: white;
    display: block;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    padding: 0 20px;
}
svg .line-chart__axis-tick,
svg .line-chart__axis-line {
    stroke: darkgray;
}
svg .line-chart__axis-text,
svg .line-chart__axis-text {
    font-family: sans-serif;
    font-size: 14px;
}
svg .line-chart__area-plot {
    stroke: steelblue;
    stroke-width: 3px;
}

p {
    text-align: center;
}
.resposive-wrapper{
    width: 100%;
}
