.chartblock{
    display: flex;
    justify-content: space-around;
}
.chart{
    border: 2px solid black;
}


@media (max-width: 768px) {
    .chartblock{
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
}
