.controls {
    display: flex;
    flex-direction: column;
    width: 400px;
    border: 1px solid black;
}

.item{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    margin-bottom: 5px;
}
