.sidebar {
    background-color: grey;
    display: flex;
    align-items: center;
    height:inherit;
    width: 20vw;
    box-shadow: 0 0 30px rgba(0,0,0,0.5);
    -webkit-transition: width 2s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
}

.left {
    justify-content: flex-end;
}

.right {
    justify-content: flex-start;
}
.clicked {
    width: 0;
}
.triangle:hover{
    cursor: pointer;
}

.clicked > .triangle {
    margin:0 -30px;
}

.triangle {
    width: 0;
    height: 0;
    z-index: 3;
}

.triangle-right {
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;

    border-left: 30px solid steelblue;
}
.triangle-left{
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;

    border-right:30px solid steelblue;
}

